{% extends "estructura/principal.html" %}

{% block contenido %} 
{% load bootstrap_icons %}

{% for perfil_publico in perfil_publico_mostrar %}
<div>
    <h2>Descripcion: {{ perfil_publico.descripcion }}</h2> 
    <h5>Lugar Favorito: {{ perfil_publico.lugar_fav }}</h5> 

    <form action = "{% url 'perfil_publico_eliminar' perfil_publico.id %}" method = "post"> 
        {% csrf_token %}
        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
            <span>{% bs_icon 'trash' %}</span>
        </button> 
    </form>
    <br>

{% endfor %}

{% endblock contenido %}