<nav>
    <ul>

        <form action="{% url 'equipo_busqueda_simple' %}" class="d-flex m-3" role="search" method="GET">
            <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light btn-outline-dark" type="submit">Buscar</button>
          </form>

    </ul>

    <div class="ml-2">
        {% if not request.session.token%}
        <a class="btn btn-outline-warning" href="{% url 'login' %}">
            Login
        </a>
        {% endif %}

        {% if not request.session.token %}
          <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
              Registrarse
          </a>
         {% endif %}

         {% if request.session.token %}
         <a class="btn btn-outline-warning" href="{% url 'logout' %}">
             Desconectarse
         </a>
        {% endif %}
      </div>
</nav>






